<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle " src="~/userimage/denemefoto1.jpg" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">İbrahim İnce</h5>
                    <span>Admin</span>
                </div>
            </div>
        </div>
        <br />
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Writer/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-comment-account-outline"></i>
            </span>
            <span class="menu-title">Yazar Paneli</span>
        </a>
    </li>
    <li class="nav-item menu-items">
    <a class="nav-link" href="/Skill/Index/">
        <span class="menu-icon">
            <i class="mdi mdi-altimeter"></i>
        </span>
        <span class="menu-title">Yetenekler</span>
    </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-altimeter"></i>
            </span>
            <span class="menu-title">Deneyimler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Default/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Siteye Git</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Service/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-emoticon-poop"></i>
            </span>
            <span class="menu-title">Hizmetler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-puzzle"></i>
            </span>
            <span class="menu-title">Projeler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/ReceiverMessageList/">
            <span class="menu-icon">
                <i class="mdi mdi-message-processing"></i>
            </span>
            <span class="menu-title">Gelen Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/SenderMessageList/">
            <span class="menu-icon">
                <i class="mdi mdi-message-processing"></i>
            </span>
            <span class="menu-title">Gelen Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Contact/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-text-to-speech"></i>
            </span>
            <span class="menu-title">İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-account"></i>
            </span>
            <span class="menu-title">Hakkımda</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ContactSubPlace/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-calendar"></i>
            </span>
            <span class="menu-title">Alt İletişim Bilgileri</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Testimonial/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-tune"></i>
            </span>
            <span class="menu-title">Referanslar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-vector-union"></i>
            </span>
            <span class="menu-title">Öne Çıkanlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-youtube"></i>
            </span>
            <span class="menu-title">Sosyal Medya</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-cards"></i>
            </span>
            <span class="menu-title">Deneyim Ajax</span>
        </a>
    </li>
</ul>
